


.header{
    display:flex;
    --tw-bg-opacity:1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    justify-content:space-between;
    position:fixed;
    top:0px;
    width:100%;
    z-index:10;
    padding-left: 20px;
   
}

.header-section{
    display:flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    font-size: 1.5rem;
    font-weight:16px;
     margin-top:1.6rem;
   
}
.menu:hover{
    color:rgb(248, 172, 9);
}
.menu-icon{
    display:none;
 }
 #nav-item{
    margin-top: 1.7rem;
    margin-right:3.8rem ;  
    display: flex;  
    font-weight: 14px;
    gap:2rem;
    cursor:pointer;
}
#nav-item:hover{
    color:rgb(248, 172, 9)
   
}

#nav-item > .scroll-link {  
    margin-right: 2.5rem;
    cursor: pointer;
}



@media(min-width: 768px){
.header {
    display:flex;
 }
 .menu-icon{
    display:none;
 }
 #navitem{
    --tw-space-x-reverse:0;
    margin-right: calc(1.5rem/* 24px */ * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem/* 24px */ * 1-var(--tw-space-x-reverse));
    display:block;
    margin-top:0px;
 }
 .headeritems{
    display: inline-block;
 }
}